#la siguiente lista tiene archivos que deben ser ignorador por git

requisitos.txt
/java/Ejercicio_2/nbproject/private/
/java/Ejercicio_2/build/
/java/Ejercicio2/nbproject/private/
/java/Ejercicio2/build/
/java/Ejercicio3/nbproject/private/
/java/Ejercicio3/build/
/java/ejercicio4/nbproject/private/
/java/ejercicio4/build/
/java/Ejercicio1/nbproject/private/
/java/Ejercicio5/nbproject/private/
/java/Ejercicio5/build/
/java/Ejercicio6/nbproject/private/
/java/Ejercicio7/nbproject/private/
/java/Ejercicio6/build/
/java/Ejercicio7/build/
/java/Leccion2/nbproject/private/
/java/Leccion2/build/
/java/CondicionalEjercicio_1/nbproject/private/
/java/CondicionalEjercicio_1/build/
/java/Leccion_2/nbproject/private/
/java/Leccion_2/build/
/java/CondicionalEjercicio_2/nbproject/private/
/java/CondicionalEjercicio_2/build/
/java/CondicionalEjercicio3/nbproject/private/
/java/CondicionalEjercicio3/build/
/java/Leccion2/src/leccion2/CicloWhile/nbproject/private/
/java/Leccion2/src/leccion2/CicloWhile/build/
/java/Leccion2/src/leccion2/EjercicioCiclos01/nbproject/private/
/java/Leccion2/src/leccion2/EjercicioCiclos01/build/
/java/Leccion2/src/leccion2/EjercicioCiclos02/nbproject/private/
/java/Leccion2/src/leccion2/EjercicioCiclo02/nbproject/private/
/java/Leccion2/src/leccion2/EjercicioCiclo02/build/
/java/Leccion_2/Ejercicio3/build/
/java/Leccion_2/Ejercicio3/nbproject/private/
/java/Leccion1/Ejercicio_1/build/
/java/Leccion1/Ejercicio_1/nbproject/private/
/java/Leccion1/Ejercicio_2/build/
/java/Leccion1/Ejercicio_2/nbproject/private/
/java/Leccion3/leccionClasesObjetos/nbproject/private/
/java/Leccion2/EjercicioCiclos03/nbproject/private/
/java/Leccion2/EjercicioCiclos03/build/
/java/Leccion2/EjerciciosCiclos04/nbproject/private/
/java/Leccion2/EjerciciosCiclos04/build/
/java/Leccion3/leccionClasesObjetos/build/
/java/Leccion2/EjercicioCiclos06/nbproject/private/
/java/Leccion2/EjercicioCiclos06/build/
/java/Leccion4/Aritmetica/nbproject/private/
/java/Leccion2/EjercicioCiclos05/nbproject/private/
/java/Leccion2/EjercicioCiclos05/build/
/java/Leccion4/Aritmetica/build/
/java/Leccion2/EjercicioCiclos08/nbproject/private/
/java/Leccion2/EjercicioCiclos08/build/
/java/Leccion2/EjercicioCiclos09/nbproject/private/
/java/Leccion2/EjercicioCiclos09/build/
