#la siguiente lista tiene archivos que deben ser ignorador por git

requisitos.txt
/java/Ejercicio_2/nbproject/private/
/java/Ejercicio_2/build/
/java/Ejercicio2/nbproject/private/
/java/Ejercicio2/build/
/java/Ejercicio3/nbproject/private/
/java/Ejercicio3/build/
/java/ejercicio4/nbproject/private/
/java/ejercicio4/build/
/java/Ejercicio1/nbproject/private/
/java/Ejercicio5/nbproject/private/
/java/Ejercicio5/build/
/java/Ejercicio6/nbproject/private/
/java/Ejercicio7/nbproject/private/
/java/Ejercicio6/build/
/java/Ejercicio7/build/
/java/Leccion2/nbproject/private/
/java/Leccion2/build/
/java/CondicionalEjercicio_1/nbproject/private/
/java/CondicionalEjercicio_1/build/
/java/Leccion_2/nbproject/private/
/java/Leccion_2/build/
/java/CondicionalEjercicio_2/nbproject/private/
/java/CondicionalEjercicio_2/build/
/java/CondicionalEjercicio3/nbproject/private/
/java/CondicionalEjercicio3/build/
